@use "../mixins.scss";
@import "../colors";




.titulo-admin-slider{
    font-size: 28px;
    color: $text-white;
    text-align: center;
    margin: 40px 0 20px 0 ;
}

.form-slider{
    @include mixins.flex();
    margin: 50px auto;
    flex-wrap: wrap
}
.contenedor-form{
    @include mixins.flex(center, center, column);
    width: 320px;
    font-family: $font-roboto;
}
.form-select{
    border: 0;
    outline: 0;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 2px solid #2bb649;
    color: $text-white;

    &:hover{
        transition: border 0.2;
        border: 2px solid $bg-header;
    }

}
.form-select__option{
    font-size: 14px;
    color: $text-secundary;
    background-color: $text-secundary;
    color: $bg-header;
    padding: 9px;
    cursor: pointer;
}
.label-link{
    width: 100%;
    padding: 30px 0;
}
.label-link-nuevo{
    width: 100%;
    padding-bottom: 30px;
}
.label-link-nuevo .input-link{
    border-bottom: 2px solid #2a80cf;
}
.input-link{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 12px;
    background-color: transparent;
    transition: all 0.3s;
    position: relative;
    border-bottom: 2px solid #2bb649;
    color: #999999;
    letter-spacing: 1px;

    &:focus{
        transition: border-color, border-radius 0.5s;
        border-color: $bg-header;
        border-radius: 8px;
    }

}

.btn-actualizar-slider{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 15px 12px;
    border-radius: 100px;
    color: $bg-header;
    text-shadow: none;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;

    &::before {
        content: '';
        width: 0;
        height: 500%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: $bg-header;
        transition: .8s ease;
        display: block;
        z-index: -1;
    }
       
    &:hover::before {
        width: 105%;
    }
       
    &:hover {
        color: #111;
    }
}


.contenedor-funciones{
    margin-top: 30px
}
.funcion-p{
    @include mixins.text($text-md, 400, $text-white, $font-roboto, 1.5px );
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    &:hover{
        color: $bg-header;
    }
}
.funcion-p.activo{
    border-bottom: 2px solid $text-secundary;
    font-weight: 700;
    color: $bg-header;
}



//tabla de visualizacion base de datos
.contenedor-bd{
    padding: 16px;
    max-width: 900px;
    margin: 60px auto;
}

.titulos{
    @include mixins.flex();
    color: $text-white;
    font-size: 20px;
    border-bottom: 1px solid $bg-header;
    margin-bottom: 5px;
    padding: 5px;
}
.titulos-p-id{
    width: 20%;
}
.titulos-p{
    width: 80%;
    text-align: start;
}

@media only screen and (min-width:500px){
    .contenedor-funciones{
        margin-left: 50px;
    }
}
@media only screen and (min-width:1000px){
    .form-slider{
        @include mixins.flex(center, flex-start);
    }
    .contenedor-funciones{
        margin-top: 0;
        margin-left: 100px;
    }
    .funcion-p{
        text-align: start;
    }
}