@use "../mixins.scss";
@import "../colors";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//ESTILOS DEL LAYOUT
.layout-contenedor{
    width: 100%;
    min-height: 100vh;
}
.header-layout{
    width: 100%;
    background-color: $bg-header-admin;
}
.contenedor-main-sidebar{
    width: 100%;
    display: flex;
    background-color: $bg-web-dark;
}
.sidebar-layout{
    background-color: $bg-header;
    width: 280px;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 10px 10px 10px 0;
    display: none;
}
.main-layout{
    position: relative;
    width: 100%;
    padding-top: 40px;
}   


@media only screen and (min-width: 800px) {
    .sidebar-layout{
        display: block;
        background-color: #7d8a933d;
    }
    .main-layout{
        width: calc(100% - 280px);
        position: relative;
        padding: 50px 70px 20px 70px ;
    }   
}





