@use "../mixins.scss";
@import "../colors";

.formulario-admin-store{
    width: 80%;
    margin: auto;
}
.titulo-admin-productos{
    @include mixins.text(28px, 600);
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #b92626a4;
}
.contenedor-acciones-store{
    width: 100%;
    padding: 16px;
    @include mixins.flex(flex-start);
    overflow: auto;
    margin-bottom: 40px;
    cursor: pointer;
    
    &.contenedor-acciones-store .btn-accion-form{
        min-width: 150px;
        min-height: 150px;
        border-radius: 50%;
        background-color: #2b2a2a;
        margin: 20px;
        @include mixins.flex(center, center, column);
        &:hover{
            background-color: #b92626a4;
        }
        &.btn-accion-form .imagen-accion{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}



.formulario-admin-store {
    margin-bottom: 40px;
    border: 1px groove #270909a4;
    padding: 20px;
    &:hover{
        transition: all 0.2s;
        border-width: 2px ;
    }


    &.formulario-admin-store .titulo-formulario-producto{
        @include mixins.text(22px, 600);
        text-align: center;
        margin-bottom: 16px;
    }

    &.formulario-admin-store .button-form-cards{
        width: 200px;
        padding: 10px;
        border-radius: 20px;
        border: 2px solid hsl(0, 0%, 8%) ;
        margin: 20px auto;
        @include mixins.text($text-md, 500, black);
        text-align: center;
        background-color: #33523a;
        &:hover{
            border-color: $text-primary;
            cursor: pointer;
            text-shadow: none;
        }
    }

    &.formulario-admin-store  .contenedor-form-crear{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: minmax(auto, 500px); 
        justify-content: center;  
    }
    & .listado-productos-buscados{
        height:122px;
        padding: 10px;
        overflow: auto;

        & .producto-a-eliminar{
            @include mixins.flex(flex-start);
            position: relative;
            &:hover{
                background-color: #b92626a4;
            }
        }

        & .icon-eliminar{
            position: absolute;
            right: 20px;
            cursor: pointer;
            &:hover{
                color: $text-primary;
            }
            &::after{
                content: "eliminar";
                position: absolute;
                right: 20px;
                background-color: #111111;
                display: none;
                top: 0;
                padding: 3px;
                color: $text-secundary;
                border-radius: 10px;
            }
            &:hover::after{
                display: block;
            }
        }
    }
    & .item-producto-buscado{
        padding: 8px;
        margin-bottom: 2px;
        @include mixins.text(18px, 400);        
    }
    & .mensaje-coincidencias{
        @include mixins.text(18px, 400, $text-secundary);
    }
}

hr{
    height: 2px;
    margin: 10px ;
    color:blue;
    background-color: $hover;
}


.contenedor-tabla-productos{
    padding: 16px;

    & .titulo-tabla-productos{
        margin-bottom: 20px;
        @include mixins.text(26px, 600, $text-primary);
        text-align: center;
    }
}
.tabla-productos{
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr  60px 50px 50px 1fr   ;
    background-color: #212121;
    &:nth-child(even){
        background-color: #2b2a2a;
    }

    &.tabla-productos .item-tabla.titulo{
        padding: 10px 0;
        @include mixins.text(12px, 600, $text-primary);
        text-align: center;
        background-color: #33523a;
    }
    &.tabla-productos .item-tabla{
        padding: 10px 4px;
        @include mixins.text(10px, 400, #a19c9c);
        text-align: center;
        border: 1px solid rgba(15, 15, 15, 0.432);
        @include mixins.flex();
    }
}


@media only screen and (min-width: 500px){
    .tabla-productos{
        transition: all 0.5s;
        grid-template-columns: 40px 1fr  70px 60px 60px 1fr   ;
        &.tabla-productos .item-tabla.titulo{
            font-size: 14px;
        }
        &.tabla-productos .item-tabla{
            font-size: 12px;
        }
    }
        
}


@media only screen and (min-width: 1000px){
    .contenedor-acciones-store{
        justify-content: center;
        
        & .btn-accion-form{
            min-width: 240px;
            min-height: 240px;
        }
    }
    .tabla-productos{
        grid-template-columns: 40px minmax(93px, 1fr)  130px 100px 100px 1fr  ;
        &.tabla-productos .item-tabla.titulo{
            font-size: 18px;
        }
        &.tabla-productos .item-tabla{
           font-size: 16px;
        }
    }
        
}













// ---------------------------- ESTILOS DE LOS INPUTS ----------------------------------
$padding-input: 10px;

.contenedor-input-admin-store{
    position: relative;
    margin: 8px;
    width: 100%;
    
}
.input-admin-store {
    width: 100%;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    @include mixins.text(16px, 400, $text-primary);
    padding: $padding-input;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);

    &.input-admin-store.select{
        width: 100%;
        background-color: #212121;
        cursor: pointer;
    }
}
   
.user-label{
    position: absolute;
    left: 14px;
    @include mixins.text(16px, 400, $text-secundary);
    transform: translateY($padding-input);
    transition: all 150ms cubic-bezier(0.4,0,0.2,1);
}
   
.input-admin-store:focus{
    outline: none;
    border: 1.5px solid #1a73e8;
}
   
.input-admin-store:focus ~ label   {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
}
.input-admin-store:valid ~  label{
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
}