@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

//Definicion de colores

$bg-web: #EAE6E6;
$bg-header: #F7BA2B;
$bg-footer: #0C2736;
$text-primary: #1D1C1C;
$text-secundary: #4D4949;
$orange: #9E4B1C;
$white: #ffffff;

// Definicion de tipografia

$tipografia: 'Roboto', sans-serif;