@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

//Definicion de colores

$bg-web: #EAE6E6;
$bg-header: #D9D9D9;
$text-primary: #1D1C1C;
$orange: #9E4B1C;
$white: #ffffff;

// Definicion de tipografia

$tipografia: 'Roboto', sans-serif;