@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

//Definicion de colores

$bg-web: #EAE6E6;
$bg-web-dark:#272626;
$bg-header: #F7BA2B;
$bg-footer: #0C2736;
$text-primary: #1D1C1C;
$text-secundary: #4D4949;
$text-white: #f2f2f2;
$orange: #9E4B1C;
$white: #ffffff;


// Colores sidebar administracion
$bg-header-admin:#2f3035;




// Definicion de tipografia
$font-roboto: 'Roboto', sans-serif;
$text-vsm: 14px;
$text-sm:16px;
$text-md: 18px;
$text-lg:20px;