@use "./mixins.scss";
@import "./colors";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-contenedor{
    width: 100%;
    min-height:120vh ;
    background-color: #171717;
    overflow: hidden;
}

.titulo-admin-slider{
    font-size: 32px;
    color: #f2f2f2;
    text-align: center;
    margin: 20px 0;
}

.form-slider{
    @include mixins.flex(center, center, column);
    max-width: 320px;
    margin: 30px auto;
    font-family: $tipografia;
}
.form-select{
    border: 0;
    outline: 0;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 2px solid #9b9b9b;
    color: #f2f2f2;

    &:hover{
        transition: border 0.2;
        border: 2px solid #9b9b9b;
    }

}
.form-select__option{
    font-size: 14px;
    color: $text-secundary;
    background-color: $text-secundary;
    color: $bg-header;
    padding: 9px;
    cursor: pointer;
}
.label-link{
    width: 100%;
    padding: 30px 0;
}
.input-link{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 12px;
    background-color: transparent;
    transition: all 0.3s;
    position: relative;
    border-bottom: 2px solid #9b9b9b;
    color: #999999;
    letter-spacing: 1px;

    &:focus{
        transition: border-color, border-radius 0.5s;
        border-color: $bg-header;
        border-radius: 8px;
    }

}
.btn-actualizar-slider{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 15px 12px;
    border-radius: 100px;
    color: $bg-header;
    text-shadow: none;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;

    &::before {
        content: '';
        width: 0;
        height: 500%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: $bg-header;
        transition: .8s ease;
        display: block;
        z-index: -1;
    }
       
    &:hover::before {
        width: 105%;
    }
       
    &:hover {
        color: #111;
    }
}


//tabla de visualizacion base de datos
.contenedor-bd{
    padding: 16px;
    max-width: 900px;
    margin: 60px auto;

}

.titulos{
    @include mixins.flex();
    color: $text-white;
    font-size: 20px;
    border-bottom: 1px solid $bg-header;
    margin-bottom: 5px;
    padding: 5px;
}
.titulos-p-id{
    width: 20%;
}

.titulos-p{
    width: 80%;
    text-align: start;
}
