@use "./mixins.scss";
@import "./colors";


.articulo{
    max-width: 1200px;
    padding: 0 16px;
    margin-top: 30px;
    font-family: $tipografia;
    margin: auto;
}



.titulo-articulo{
    font-size: 32px;
    text-align: center;
    color: $text-primary;
    margin-bottom: 15px;
}
.parrafo-introductorio{
    font-size: 18px;
    color: $text-secundary;
    line-height: 20px;
    
}
.parrafo-1, .parrafo-2{
    margin-bottom: 20px;
}

.imagen{
    width: 100%;
    margin-bottom: 20px;
}
.imagen > img{
    width: 100%;
}