@use "./mixins.scss";
@import "./colors";


.articulo{
    max-width: 1200px;
    padding: 0 16px;
    font-family: $font-roboto;
    margin: 70px auto;
}

.titulo-articulo{
    @include mixins.text(28px, 700, $orange);
    margin-bottom: 52px;
    width: 100%;
    text-transform: uppercase;
}
.introduccion{
    @include mixins.flex();
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.parrafo-introductorio{
    max-width: 660px;
    @include mixins.text($text-md, 400, $text-secundary);
    line-height: 25px;
}
.parrafo-1, .parrafo-2{
    margin-bottom: 20px;
}

.imagen{
   max-width: 500px;
}
.imagen > img{
   width: 100%;
}
.creditos{
    font-family: sans-serif;
    font-size: 10px;
    color: $text-secundary;
    text-decoration: none;
}
.creditos > a{
    text-decoration: none;
    color: $text-secundary;
    cursor: pointer;
}

.parrafo-desarrollo{
    @include mixins.text($text-md, 400, $text-secundary);
    line-height: 25px;
}
.parrafo-3{max-width: 800px;}

.card-articulo{
    @include mixins.flex();
    flex-wrap: wrap;
    width: 100%;
}
.card{
    width: 331px;
    height: auto;
    padding: 7px 25px;
    @include mixins.flex(center,center,column);
    background-color: $bg-header;
    margin: 20px auto;
    box-shadow: 0 2px 4px 1px $orange;
}
.card > img{
    width: 76px;
    margin: auto;
}
.card > h3{
    @include mixins.text(28px, 400, $text-secundary);
    line-height: 30px;
    text-align: center;
}

.card > p{
    @include mixins.text($text-lg, 400, $text-secundary);
    margin-top: 8px;
    text-align: center;
}


@media only screen and (min-width: 1190px){
    .introduccion{
        justify-content: space-between;
        align-items: flex-start;
    }
    .parrafo-introductorio{
        font-size: 18px;
        color: $text-secundary;
        line-height: 20px;
        width: 660px;
    }
    .titulo-articulo{
        text-align: center;
    }
}