@use "./mixins.scss";
@import "./colors";

.contenedor-cards{
    max-width: 1200px;
    @include mixins.flex();
    flex-wrap: wrap;
    margin: auto;
    padding: 0 16px;
}
.cards{
    max-width: 280px;
    height: 400px;
    margin: 24px auto;
    border-radius: 19px;
    padding: 15px 21px;
    background: linear-gradient(180deg, #230B2E 0%, #140B23 38.02%, rgba(17, 7, 29, 0.83) 100%);
}
.cards:nth-child(even){
    background: linear-gradient(180deg, #0C2736 0%, #092027 38.02%, rgba(7, 25, 29, 0.83) 100%);
}
.cards:hover{
    cursor: pointer;
    scale: 1.05;
    box-shadow: 5px 4px 10px 0px rgba(36, 35, 35, 0.75);
    transition: all 0.5s;
}
.cards-imagen{
    width: 100%;
}
.cards-imagen > img{
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
}
.cards-descripcion{
    width: 100%;
}

.artista{
    margin-bottom: 4px;
    @include mixins.text($text-md, 700, #EAE6E6);
}
.musica{
    @include mixins.text($text-sm, 500, #EAE6E6, $font-roboto, 1px);
    margin-bottom: 17px;
}
.cards-datos > p{
    @include mixins.text($text-vsm, 400, $bg-header, $font-roboto, 1px);
    margin-bottom: 2px;
}

.titulo-cards{
    @include mixins.text(24px, 500, $text-primary, $font-roboto, normal, center);
    margin-top: 30px;
    width: 100%;
    animation:text-left 2s ease-in-out ;
}

@keyframes text-left {
    0% {
      position: relative;
      left: -100%;
    }
    100% {
        position: relative;  
        left: 0;
    }
}