$ruler: 16px;
$color-red: #F7BA2B;
$color-bg: #dce2e4;
$color-shadow: #8f8b8b;
$color-white: #f6fafd;
@use "./mixins.scss";
@import "./colors";

.form-login {
    padding: 16px;
    width: 350px;
    height: 100vh;
    @include mixins.flex(center,center,column);
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.titulo-login{
    color: $bg-header;
    text-shadow: 1px 1px 0 $text-primary;
    margin-bottom: 20px;
    text-align: center;
}
.label-login{
    display: block;
    margin-bottom: 25px;
    width: 100%;
  }
.input, .button{
    width: 100%;
    border: 0;
    outline: none;
    letter-spacing: -0.2px;
    font-size: 16px;
    padding: 16px;
    border-radius: 320px;
}

button  {
    text-shadow: 1px 1px 0 $text-primary;
    background-color: $text-secundary;
}

.input {
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    transition: all 0.2s ease-in-out;
  
    &:focus {
      box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
}

.btn-marcas{
    margin: 30px auto;
    text-align: center;
}

.btn-marcas .unit {
    width: 48px;
    height: 48px;  
    border-radius: 8px;
    margin: 0px 8px;

}
.icon{
    color: #F7BA2B;
}


.button {
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 700;
  
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
  
  &.red {
    color:$color-red;
  }
}

