@use "../mixins.scss";
@import "../colors";

.contenedor-page-allproductos{
    margin-top: 40px;
    width: 100%;
}
.contenedor-colleccion-productos{
    @include mixins.flex(flex-start);
    flex-wrap: wrap;
    margin-bottom: 80px;
}


//-------------------------------------------ESTILOS COLIMNA DE FILTROS------------------------------------------------------------------------
.contenedor-col-filtro{
    width: 100%;
    background-color: rgba(31, 55, 73, 0.425);
    padding: 10px;
    align-self: flex-start;
}

.contenedor-filtros-activos{
    margin-bottom: 16px
}
.titulo-filtros{
    @include mixins.text(24px, 600, #eb2323);
    margin-bottom: 6px;
}
.lista-filtro-activos{
    padding: 8px;
}
.item-listado-filtros{
    @include mixins.flex(flex-start);
}
.filtros-activos{
    margin-bottom: 6px;
    width: max-content;
    list-style: none;
    padding: 5px 7px;
    background-color: rgba(150, 15, 15, 0.648);
    border-radius: 20px;
    color: $text-primary;
}
.icon-quitar-filtro{
    color: $text-secundary;
    margin-left: 10px;
    &:hover{
        color: #eb2323;
        cursor: pointer;
    }
}


.contenedor-filtros-generos{
    margin-bottom: 10px
}
.titulo-filtro-genero{
    @include mixins.text(20px, 600, rgba(207, 204, 204, 0.846));
}
.filtros-generos{
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    @include mixins.flex(flex-start, flex-start, column);
    padding-top: 4px;
    &.filtros-generos.activo{
        padding: 4px 0px 0 8px;
    }
}


.icon-desplegar-filtro{
    color: rgba(207, 204, 204, 0.846);
    cursor: pointer;
    margin-left: 8px;
    transition: all 0.2s;
    &:hover{
        color: #eb2323;
    }
    &.icon-desplegar-filtro.activo{
        transition: all 0.2s;
        transform: rotate(180deg);
        position: relative;
        top: 4px;
        color: #eb2323;
    }
}
.label-checkbox{
    @include mixins.text(16px, 600, rgba(207, 204, 204, 0.846), $font-roboto, 1px);
}
.input-checkbox{
    margin-right: 4px;
    cursor: pointer;
    border: 0;
    outline: 0;
    width: 14px;
    height: 14px;
    border-radius: 2px;
}


.contenedor-col-productos{
    width: 100%;
    padding: 16px 0 16px 8px;
}

.titulo-categoria{
    @include mixins.text(28px, 600);
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 10px
}
.contenedor-informacion-filtros{
    padding: 10px 6px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 16px;
    @include mixins.flex(space-between);
    flex-wrap: wrap;
    &.contenedor-informacion-filtros p{
        @include mixins.text(14px, 600, $text-secundary);
        margin-bottom: 3px
    }
}
.label-mostrar-paginas{
    @include mixins.text(14px, 600, $text-secundary);
}
.select-mostrar-paginas{
    border: 0;
    outline: 0;
    background-color: transparent;
    @include mixins.text(14px, 600, $text-primary);
    padding: 3px;
    &:hover{
        cursor: pointer;
        color: $green;
    }
    &.select-mostrar-paginas option{
        background-color: rgba(0, 0, 0, 0.763);
        color: $text-primary;
        cursor: pointer;
    }
}

.listado-productos-all{
    @include mixins.flex();
    flex-wrap: wrap;
    
}
.listado-productos-all .contenedor-card{
    width: 49%;
}
.listado-productos-all .contenedor-imagen{
    width: 100%;
    height: 180px;
    padding: 10px;
}

.contenedor-paginacion{
    margin-top: 8px;
    border-top: 1px solid rgba(128, 128, 128, 0.061);
    border-bottom: 1px solid rgba(128, 128, 128, 0.061);
    padding: 16px;
    @include mixins.flex();
}
.btn-paginacion{
    border: 0;
    outline: 0;
    background: #eb2323;
    border-radius: 3px;
    margin: 0 2px;
    padding: 6px 11px;
    @include mixins.text(16px, 600, $text-primary);
    cursor: pointer;
}
.btn-paginacion:disabled{
    cursor: default;
    transform: scale(0.9);
    opacity: 0.5;
}





@media only screen and (min-width: 700px) {
    .contenedor-colleccion-productos{
        flex-wrap: nowrap;
    }
    .contenedor-col-filtro{
        max-width: 230px;
    }
    .contenedor-col-filtro{
        margin-top: 128px;
        position: sticky;
        top: 0;
    }
    .listado-productos-all .contenedor-card{
        width: 220px;
    }
    .listado-productos-all .contenedor-imagen{
        width: 100%;
        height: 215px;
        padding: 20px 20px 10px 20px;
    }
}