@use "../mixins.scss";
@import "../colors";

.contenedor-card{
    width: auto;
    background-color: $bg-card-producto;
    max-width: 232px;
    height: 365px;
    position: relative;
    margin-right: 1px;
}
.contenedor-imagen{
    width: 232px;
    height: 235px;
}
.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-contenido{
    @include mixins.flex(center, flex-start, column);
    padding: 4px;
}
.contenido-categoria{
    @include mixins.text(16px, 400, $text-secundary);
    margin-bottom: 6px;
}
.contenido-producto{
    @include mixins.text(18px, 600, $text-primary);
    margin-bottom: 4px;
}
.contenido-precio{
    @include mixins.text(18px, 600, $text-primary);
    margin-bottom: 8px;
    &::before{
        content: "$";
        color: $green;
        margin-right: 3px;
        font-weight: 600
    }
}
.contenido-disponibilidad{
    @include mixins.flex(space-between);
    width: 95%;
    position: absolute;
    bottom: 6px;
}
.disponibilidad{
    @include mixins.text(14px, 600, $text-secundary);
    @include mixins.flex();
    &::before{
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $green;
        margin-right: 4px;
    }
}
.span-agregar-carro{
    position: relative;
    &::after{
        content: "Agregar";
        background-color: $green;
        position: absolute;
        margin-left: 2px;
        border-radius: 10px;
        padding: 0 2px;
        display: none;
        left: 100%;
        top: 50%;
        opacity: 0.5;
    }
    &:hover::after{
        display: block;
    }
}
.icon-agregar-carro{
    height: 22px;
    color: $text-primary;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    
}