@use "../mixins.scss";
@import "../colors";


.contenedor-layout-store{
    width: 100%;
    background-color: $bg-web;
}

.contenedor-layout-store .header-store{
    padding: 0 16px;
    position: relative;
}


// estilos del nav general de la aplicacion
.header-store .nav-principal{
    height: 30px;
    @include mixins.flex(space-between);
}
.nav-principal .nav-principal-seccion{
    @include mixins.flex();
}
.header-store .logo-vm{
    height: 20px;
    margin-right: 10px
}
.header-store .nav-principa--ul{
    @include mixins.flex();
    &:first-child{
        display: none;
    }
}
.header-store .nav-principal--li{
    list-style: none;
    height: 100%;
    margin: 0 8px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 50%;
        right: 50%;
        background-color: $hover;
        
    }
    &:hover::before{
        transition: all 0.5s ease;
        left: 0;
        right: 0;
        
    }
}
.header-store .navlink-principal{
    text-decoration: none;
    @include mixins.text(0.625rem, 400, $text-secundary);
    text-transform: uppercase;
}
.header-store .navlink-informacion{
    @include mixins.text(12px, 400, $text-secundary)
}
.header-store .icon-nav{
    height: 10px;
    margin-right: 3px;
    color: $text-secundary;
}
.header-store .contenedor-avatar{
    height: 23px;
    width: 23px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: $text-primary;
    @include mixins.flex();
}



// estilos nav especifico de la pagita Store
.nav-page-store{
    width: 100%;
    height: 47px;
    @include mixins.flex(space-between);
    position: relative;
}
.nav-seccion{
    @include mixins.flex();
}

.contenedor-hamburguesa{
    width: 24px;
    height: 3px;
    background-color: $text-primary;
    position: relative;
    cursor: pointer;
    margin-right: 16px;
    transition: all 0.5s ease;
    &.contenedor-hamburguesa.activo{
        background-color: transparent;
    }
}
.menu-hamburguesa{
    transition: all 0.5s ease;
    &::before{
        content: "";
        height: 3px;
        position: absolute;
        transform: translatey(-9px);
        left: 0;
        right: 0;
        background-color: $text-primary;
        
    }
    &::after{
        content: "";
        height: 3px;
        position: absolute;
        transform: translatey(9px);
        left: 0;
        right: 0;
        background-color: $text-primary;
    }
    &.menu-hamburguesa.activo{
        
        &::before{
            transition: all 0.5s ease;
            transform: rotate(45deg)
        }
        &::after{
            transition: all 0.5s ease;
            transform: rotate(-45deg)
        }
    }
}
.titulo-vm-store{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include mixins.text(20px, 600);
    font-style: italic;
}
.titulo-vm-store .span-vm{
    background: radial-gradient(50% 50% at 50% 50%, #D1D1CD 0%, #5F5B59 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: italic;
}
.label-buscador{
    margin-right: 10px;
    @include mixins.flex();
}
.icon-buscador{
    height: 15px;
    color: $text-primary;
    cursor: pointer;
 }
.input-buscador{
display: none;
}
.contenedor-carro-compra{
    @include mixins.flex();
    color: $text-primary;
    position: relative;
}
.icon-carro-compras{
    height: 22px;
    color: $green;
    margin-right: 2px;
    cursor: pointer;
}
.cantidad-productos{
    width: 15px;
    height: 19px;
    border-radius: 50%;
    background-color: $green;
    @include mixins.flex();
}
.cantidad-productos--span{
    @include mixins.text(12px, 600, #000);
    text-align: center;
}


// MODAL PARA MOSTRAR DE MANERA PRELIMINAR EL CONTENIDO DEL CARRITO
.modal-carrito-compras{
    min-width: 300px;
    height: 470px;
    padding: 16px;
    position: absolute;
    top: 180%;
    right: 0;
    background-color: #5F5656;
    z-index: 50;
    display: none;
}
.modal-carrito-compras.activo{
    display: block
}

.modal-producto{
    @include mixins.flex(space-between);
    border-bottom: 1px solid rgba(0, 0, 0, 0.298);
    padding: 10px 0;
}
.modal-img{
    width: 60PX;
    height: 60px;
    margin-right: 16px;
}
.modal-producto-descripcion{
    width: 100%;
}
.modal-name{
    @include mixins.text(20px, 600, $text-primary, $font-roboto, 1px);
}
.info-cantidad-modal{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    @include mixins.flex(center, center, column);
}
.quitar-producto{
    @include mixins.text(16px, 600, $text-secundary);
    text-align: center;
    margin-top: 5px;
    position: relative;
    &:hover{
        cursor: pointer;
        color: rgb(100, 5, 5);
    }
    &::after{
        content: "Quitar producto";
        position: absolute;
        top: 100%;
        font-size: 10px;
        width: max-content;
        left: -100%;
        background-color: #747171;
        padding: 3px;
        border-radius: 20px;
        display: none;
    }
    &:hover::after{
        color: $text-secundary;
        display: block;
    }
}

.btn-modal{
    @include mixins.flex();
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    width: 100%;
    height: 60px;
}
.btn-producto.modal{
    background-color: #0F0F0F;
}
.modal-contenedor-productos{
    width: 100%;
    max-height: 410px;
    overflow-y: auto;
    padding-bottom: 20px;
}







main{
    padding: 0 16px;
    max-width: 1200px;
    margin: auto;
}

//-----------------ESTILOS DE LA SUB NAVEGACION DE LA PAGINA STORE-----------------------------------------------------
.sub-nav-store{
    width: 270PX;
    height: 100vh;
    padding: 30PX 16px;
    position: absolute;
    left: -150%;
    background-color: rgba(0, 0, 0, 0.911);
    transition: all 0.5s ease;
    z-index: 80;
}
.sub-nav-store.activo{
    left: 0;
}
.sub-nav-ul{
    height: 100%;
    position: relative;
}
.sub-nav--li{
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}
.navlink-sub-nav{
    @include mixins.text(16px, 400, $text-primary);
    letter-spacing: 1px;
    &:hover{
        opacity: 0.7;
    }
    &::after{
        content: ">" ;
        position: absolute;
        right: 0;
        color: $text-primary;
    }
}
.icon-sub-nav{
    margin-right: 6px;
}




// -------------------------MAQUETACION RESPONSIVE-----------------------------

@media only screen and (min-width: 420px) {
    .header-store .navlink-principal{
        font-size: 0.75rem;
    }
}
@media only screen and (min-width: 800px) {
    .modal-carrito-compras{
        width: 470px;
    }
    .header-store .nav-principa--ul:first-child{
        display: flex;
    }
    .header-store .nav-page-store{
        transition: all 0.4s;
        height: 60px;
        padding: 0 10px;
    }
    .header-store .titulo-vm-store{
        position: relative;
        left: 0;
        transform: none;
        transition: all 0.4s;
        font-size: 32px;
    }
    .nav-page-store .label-buscador{
        margin-right: 70px;
    }
    .nav-page-store .input-buscador{
        display: block;
        width: 25vw;
        padding: 5px;
        border: 0;
        outline: 0;
        @include mixins.text(18px, 400);
        background: linear-gradient(180deg, #0F0F0F 0%, rgba(0, 0, 0, 0.1) 100%);
        margin-right: 4px;
        border-bottom: 2px solid #000000;
        &::placeholder{
            font-size: 15px;
            color: #5F5656;
        }
        &:focus{
            border: 0;
            outline: 1px solid rgb(161, 167, 163);
        }
    }
    .icon-carro-compras{
        height: 25px;
        &:hover{
            opacity: 0.8;
        }
    }
    .cantidad-productos{
        width: 19px;
        height: 23px;
    }
    .cantidad-productos--span{
        @include mixins.text(14px, 600, #000);
    }



    //------Sub nav
    .sub-nav-store{
        width: 100%;
        padding: 0;
        position: static;
        background-color: rgba(0, 0, 0, 0.144);
        height: 0;
        overflow: hidden;
    }
    .sub-nav-store.activo{
        height: 70px;
    }
    .sub-nav-ul{
        width: 100%;
        position: relative;
        @include mixins.flex()
    }
    .sub-nav--li{
        margin: 0 8px;
    }
    .navlink-sub-nav{
        @include mixins.text(16px, 400, $text-primary);
       letter-spacing: 1px;
        &::after{
            content: none ;
        }
    }
}